<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.School_app"
        tools:targetApi="31">
        <activity
            android:name="com.example.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.activities.ResultActivity"
            android:exported="false" />
        <activity
            android:name="com.example.activities.QuizLauncher"
            android:exported="false" />
        <activity
            android:name="com.example.activities.QuizMenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.classes.QuizActivity"
            android:exported="false" />

        <receiver android:name="com.example.break_reminder.BreakReminderReceiver" />

        <service android:name="com.example.break_reminder.BreakReminderService" />

        <activity
            android:name="com.example.course_activities.JShellActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.GroovyGparsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.STMActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.FuturesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.ConcurrentActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.GuavaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.HibernateActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.LogbackActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.Java12FeatureActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.LocalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.ModularityActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.BackportsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.FunctionalActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.FeaturesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.GroupingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.CollectorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.PeekActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.ParallerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.ForEachActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.StreamsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.DefaultsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.Java8_vs_Java7Activity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.LambdaExpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.WhatInJava8Activity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.JVMBenefitsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.NewIOActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.Java7Activity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.Java6Activity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.Java5Activity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.CommentsInJavaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.ClassesInJavaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.PrimAndArrActivity"
            android:exported="false" />
        <activity
            android:name="com.example.activities.TextEditorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.CourseStructureActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.JavaEcosystemActivity"
            android:exported="false" />
        <activity
            android:name="com.example.activities.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name="com.example.course_activities.IntroActivity"
            android:exported="false" />
        <activity
            android:name="com.example.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.activities.SignupActivity"
            android:exported="true" />
    </application>

</manifest>